* {
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html {
  scroll-snap-type: y mandatory;
}
@media screen and (max-width: 767px) {
  .head {
    min-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 300;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #tt {
    text-decoration: none;
    color: #4cc7f4;
    font-size: 12px;
    position: absolute;
    left: 16.5%;
    top: 31%;
    background-color: transparent;
  }

  .menu button {
    border: none;
    background-color: transparent;
  }
  .menu p {
    position: relative;
    left: 75px;
    top: -30px;
    font-size: 15px;
    color: #294666;
  }
  .menu img {
    max-width: 25px;
    position: relative;
    left: 57%;
    background-color: transparent;
  }

  .logo {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .logo img {
    max-width: 60px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }

  .user img {
    max-width: 32px;
    position: absolute;
    top: 19%;
    left: 88%;
    background-color: transparent;
  }

  .search img {
    max-width: 32px;
    position: absolute;
    top: 19%;
    left: 75%;
    background-color: transparent;
  }

  .bg-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .section {
    margin: 0px auto;
    scroll-snap-align: start;
  }

  .nivideo {
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    top: 30%;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: transparent;
  }

  .nivideo button {
    padding: 10px;
    background-color: RGB(77, 198, 244);
    border: none;
    font-size: 15px;
  }

  .scroll {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
  }

  .mensagem {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .flechas {
    display: block;
    font-size: 2rem;
    animation: bounce 1s infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

  .carros {
    margin-top: 15px;
    text-align: center;
    height: 100vh;
  }

  .swiper {
    margin-top: 100px;
  }

  .swiper-slide {
    height: 400px;
  }

  .swiper-slide img {
    max-width: 350px;
  }

  .swiper-slide p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 1000;
  }

  .swiper-slide button {
    padding: 10px;
    font-size: 15px;
    background-color: RGB(41, 70, 103);
    color: white;
    border-radius: 30px;
  }

  .swiper-slide a {
    position: absolute;
    top: 84.5%;
    left: 50%;
    transform: translateX(-50%);
  }

  #polo {
    background-color: RGB(155, 52, 34);
  }

  #jetta {
    background-color: RGB(155, 52, 34);
  }

  #nivus {
    background-color: RGB(220, 218, 211);
    color: black;
  }

  #amarok {
    background-color: gray;
    color: black;
  }

  .modal {
    background-color: #4cc7f4;
    position: fixed;
    top: 0;
    left: -500px;
    min-height: 100%;
    min-width: 100%;
    z-index: 400;
    transition: left 0.3s ease;
  }

  .fechar {
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 15px;
    background-color: transparent;
    border: none;
  }

  .modal ul {
    margin-top: 70px;
  }

  .modal li {
    padding: 25px;
    font-size: 20px;
  }

  .modal li,
  button {
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .modal p {
    position: relative;
    left: 25px;
    top: 50px;
    font-size: 15px;
  }
}
