* {
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 100%;
}

html {
  scroll-snap-type: y mandatory;
}
@media screen and (max-width: 767px) {
  .head {
    min-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 300;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #tt {
    text-decoration: none;
    color: #4cc7f4;
    font-size: 12px;
    position: absolute;
    left: 16.5%;
    top: 31%;
    background-color: transparent;
  }

  .menu button {
    border: none;
    background-color: transparent;
  }
  .menu p {
    position: relative;
    left: 75px;
    top: -30px;
    font-size: 15px;
    color: #294666;
  }
  .menu img {
    max-width: 25px;
    position: relative;
    left: 57%;
    background-color: transparent;
  }

  .logo {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .logo img {
    max-width: 60px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }

  .leftBar {
    width: 178px;
    background-color: #294666;
    height: 5px;
    position: fixed;
    top: 8%;
  }

  .rightBar {
    width: 180px;
    background-color: #294666;
    height: 5px;
    position: fixed;
    top: 8%;
    left: 57%;
  }

  .user img {
    max-width: 32px;
    position: absolute;
    top: 19%;
    left: 88%;
    background-color: transparent;
  }

  .search img {
    max-width: 32px;
    position: absolute;
    top: 19%;
    left: 75%;
    background-color: transparent;
  }

  .bg-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .section {
    margin: 0px auto;
    scroll-snap-align: start;
  }

  .nivideo {
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: transparent;
  }

  .nivideo button {
    padding: 10px;
    background-color: RGB(77, 198, 244);
    border: none;
    font-size: 15px;
  }

  .scroll {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
  }

  .mensagem {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .flechas {
    display: block;
    font-size: 2rem;
    animation: bounce 1s infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

  .carros {
    margin-top: 15px;
    text-align: center;
    height: 100vh;
    align-items: center;
  }

  .carros h3 {
    padding-bottom: 30px;
    opacity: 0;
  }

  .swiper {
    margin-top: 100px;
  }

  .swiper-slide {
    height: 400px;
  }

  .swiper-slide img {
    max-width: 350px;
  }

  .swiper-slide p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 1000;
  }

  .swiper-slide button {
    padding: 10px;
    font-size: 15px;
    background-color: RGB(41, 70, 103);
    color: white;
    border-radius: 30px;
  }

  .swiper-slide a {
    position: absolute;
    top: 84.5%;
    left: 50%;
    transform: translateX(-50%);
  }

  #polo {
    background-color: RGB(155, 52, 34);
  }

  #jetta {
    background-color: RGB(155, 52, 34);
  }

  #nivus {
    background-color: RGB(220, 218, 211);
    color: black;
  }

  #amarok {
    background-color: gray;
    color: black;
  }

  .modal {
    background-color: #4cc7f4;
    position: fixed;
    top: 0;
    left: -5000px;
    min-height: 100%;
    min-width: 100%;
    z-index: 400;
    transition: left 0.3s ease;
  }

  .fechar {
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 15px;
    background-color: transparent;
    border: none;
  }

  .modal ul {
    margin-top: 70px;
  }

  .modal li {
    padding: 25px;
    font-size: 20px;
  }

  .modal li,
  button {
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .modal button:hover {
    color: white;
  }

  .modal p {
    position: relative;
    left: 25px;
    top: 50px;
    font-size: 15px;
  }

  .buzz {
    text-align: center;
    padding-bottom: 25px;
    height: 80vh;
  }

  .buzz h2 {
    padding-bottom: 30px;
    opacity: 0;
  }

  .buzz h3 {
    padding-bottom: 15px;
  }

  .buzz button {
    font-size: 15px;
    border: solid 1px greenyellow;
    padding: 10px;
    background-color: #817d16;
    border-radius: 30px;
  }

  .buzz img {
    padding-top: 15px;
  }

  .buzz p {
    padding-top: 15px;
    font-size: 15px;
  }

  .amarok h2 {
    padding-bottom: 30px;
    opacity: 0;
  }

  .amarok {
    text-align: center;
    height: 80vh;
  }

  .amarok p {
    padding-top: 15px;
    font-size: 15px;
  }

  .tcross h2 {
    padding-bottom: 30px;
    opacity: 0;
  }

  .tcross {
    text-align: center;
    padding-bottom: 30vh;
  }

  .tcross p {
    padding-top: 15px;
    font-size: 15px;
  }

  .foot {
    padding-top: 15vh;
    background-color: #294666;
    text-align: center;
    color: white;
  }

  .voltar:hover {
    color: white;
  }
  .body-no-scroll {
    overflow: hidden;
  }

  .modelos {
    background-color: #4cc7f4;
    position: fixed;
    top: 0;
    left: -5000px;
    height: 100vh;
    min-width: 100%;
    z-index: 10000;
    transition: left 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .modelos::-webkit-scrollbar {
    width: 2px;
  }

  .modelos::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  .modelos::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .modelos button {
    position: relative;
    left: 15px;
  }

  .tag {
    font-size: 20px;
    background-color: #294666;
    color: white;
    width: 110px;
    position: relative;
    left: 10px;
    top: -60px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .config {
    background-color: #4cc7f4;
    color: white;
    padding: 5px;
    border-radius: 30px;
    font-size: 15px;
    position: relative;
    top: -93px;
    margin-left: 53%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .modelo {
    height: 150px;
    padding-bottom: 100px;
    position: relative;
  }
  .modelo img {
    max-width: 350px;
    position: relative;
    left: -12px;
    height: 300px;
  }

  .modelo:hover {
    background-color: white;
    height: 200px;
    left: 5%;
    transition: left 0.3s ease;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .modelo:hover .tag,
  .modelo:hover .config {
    opacity: 1; /* Visível no hover */
  }

  .search-bar {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }

  .search-container h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }

  .search-container {
    margin-top: 10px;
  }

  #search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .head {
    position: fixed;
    z-index: 300;
    max-height: 100px;
  }

  .menu {
    width: 40px;
    position: relative;
    left: 5%;
    top: 2px;
    background-color: transparent;
    border: none;
  }

  .menu p {
    position: relative;
    left: 50px;
    font-size: 20px;
    top: -40px;
    color: #4cc7f4;
  }
  .container {
    position: relative;
  }

  .user {
    position: absolute;
    width: 40px;
    top: 5%;
    right: 5%;
  }

  .search {
    position: absolute;
    width: 40px;
    top: 5%;
    right: 10%;
  }

  .logo {
    opacity: 0;
    position: relative;
    top: -10000px;
  }

  .nivideo {
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  .nivideo button {
    padding: 15px;
    font-size: 15px;
    background-color: #4cc7f4;
    font-weight: 700;
    border: none;
  }

  .carros {
    text-align: center;
  }

  .modal {
    background-color: #4cc7f4;
    position: fixed;
    top: 0;
    left: -5000px;
    min-height: 100%;
    min-width: 30%;
    z-index: 400;
    transition: left 0.3s ease;
    overflow-y: auto;
  }

  .fechar {
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    z-index: 1000;
  }

  .modal ul {
    margin-top: 70px;
  }

  .modal li {
    padding: 25px;
    font-size: 20px;
  }

  .modal li,
  button {
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .modal button:hover {
    color: white;
  }

  .modal p {
    position: relative;
    left: 25px;
    top: 50px;
    font-size: 15px;
  }

  .carros {
    text-align: center;
    padding: 20px;
  }

  .swiper-slide {
    align-items: center;
    padding-bottom: 80px;
  }

  .swiper-slide button {
    padding: 15px;
    background-color: #294666;
    color: white;
    border-radius: 30px;
    position: relative;
    left: 47%;
    transform: translateX(-50%);
  }

  .swiper-slide a {
    position: relative;
    top: 70px;
    left: -80px;
  }

  .carros h3 {
    opacity: 0;
  }

  .buzz {
    text-align: center;
  }

  .buzz img {
    padding-bottom: 15px;
  }

  .buzz h3 {
    padding-bottom: 15px;
  }

  .buzz h2 {
    opacity: 0;
  }

  .amarok {
    text-align: center;
    padding-bottom: 70px;
  }

  .amarok p {
    font-weight: 600;
  }

  .amarok h2 {
    opacity: 0;
  }

  .tcross {
    text-align: center;
  }

  .tcross h2 {
    opacity: 0;
  }

  .tcross h3 {
    padding-bottom: 15px;
  }

  .tcross p {
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .modelos {
    background-color: #294666;
    position: fixed;
    top: 0;
    left: -5000px;
    height: 100vh;
    min-width: 40%;
    z-index: 10000;
    transition: left 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .modelos::-webkit-scrollbar {
    width: 2px;
  }

  .modelos::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  .modelos::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .modelos button {
    position: relative;
    left: 15px;
  }

  .tag {
    font-size: 20px;
    background-color: #294666;
    color: white;
    width: 110px;
    position: relative;
    left: 10px;
    top: -60px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .config {
    background-color: white;
    color: #4cc7f4;
    padding: 5px;
    border-radius: 30px;
    font-size: 15px;
    position: relative;
    top: -93px;
    margin-left: 53%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .modelo {
    height: 150px;
    padding-bottom: 100px;
    position: relative;
  }
  .modelo img {
    max-width: 350px;
    position: relative;
    left: -12px;
    height: 300px;
  }

  .modelo:hover {
    background-color: #4cc7f4;
    height: 200px;
    left: 5%;
    transition: left 0.3s ease;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .modelo:hover .tag,
  .modelo:hover .config {
    opacity: 1; /* Visível no hover */
  }
  .search-bar {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }

  .search-container h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }

  .search-container {
    margin-top: 10px;
  }

  #search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .foot {
    padding-top: 15vh;
    background-color: #294666;
    text-align: center;
    color: white;
  }
}

@media screen and (min-width: 1025px) {
  .head {
    position: fixed;
    max-height: 100px;
    min-width: 100%;
    z-index: 100;
  }

  .menu {
    position: relative;
    top: 5px;
    left: 3%;
    width: 40px;
  }

  .menu button {
    background-color: transparent;
    border: none;
  }

  .menu p {
    position: relative;
    top: -35px;
    left: 55px;
    color: #4cc7f4;
  }

  .user {
    position: absolute;
    width: 40px;
    top: 10px;
    right: 5%;
  }

  .search {
    position: absolute;
    width: 40px;
    top: 10px;
    right: 10%;
  }

  .logo {
    position: absolute;
    width: 90px;
    right: 30%;
  }

  .nivideo {
    position: absolute;
    top: 70%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
  }

  .nivideo button {
    font-size: 25px;
    padding: 15px;
    border: none;
    background-color: #4cc7f4;
    border-radius: 30px;
    font-weight: 500;
  }

  .nivideo button:hover {
    background-color: white;
    color: #4cc7f4;
    transition: background-color 0.3s;
  }

  .carros {
    text-align: center;
  }

  .carros h1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .carros p {
    padding-bottom: 15px;
  }

  .carros {
    text-align: center;
    padding: 20px;
    padding-top: 21px;
  }

  .swiper-slide {
    align-items: center;
    padding-bottom: 80px;
  }

  .swiper-slide p {
    font-size: 30px;
    font-weight: 600;
  }

  .swiper-slide button {
    padding: 15px;
    font-size: 20px;
    background-color: #294666;
    color: white;
    border-radius: 30px;
    position: relative;
    left: 12.5%;
  }

  .swiper-slide a {
    position: relative;
    top: 70px;
    left: -75px;
  }

  .carros h3 {
    opacity: 0;
  }

  .modal {
    background-color: #4cc7f4;
    position: fixed;
    top: 0;
    left: -5000px;
    min-height: 100%;
    min-width: 20%;
    z-index: 400;
    transition: left 0.3s ease;
  }

  .fechar {
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    z-index: 1000;
  }

  .modal ul {
    margin-top: 70px;
  }

  .modal li {
    padding: 25px;
    font-size: 20px;
  }

  .modal li,
  button {
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .modal button:hover {
    color: white;
  }

  .modal p {
    position: relative;
    left: 25px;
    top: 50px;
    font-size: 15px;
  }

  .modelos {
    background-color: #4cc7f4;
    position: fixed;
    top: 0;
    left: -5000px;
    height: 100vh;
    min-width: 30%;
    z-index: 10000;
    transition: left 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .modelos::-webkit-scrollbar {
    width: 2px;
  }

  .modelos::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  .modelos::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .modelos button {
    position: relative;
    left: 15px;
  }

  .tag {
    font-size: 20px;
    background-color: #294666;
    color: white;
    width: 110px;
    position: relative;
    left: 10px;
    top: -60px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .config {
    background-color: white;
    color: #4cc7f4;
    padding: 5px;
    border-radius: 30px;
    font-size: 15px;
    position: relative;
    top: -93px;
    margin-left: 53%;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .modelo {
    height: 150px;
    padding-bottom: 100px;
    position: relative;
  }
  .modelo img {
    max-width: 350px;
    position: relative;
    left: -12px;
    height: 300px;
  }

  .modelo:hover {
    background-color: #ccc;
    height: 200px;
    left: 2%;
    transition: left 0.8s ease;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .modelo:hover .tag,
  .modelo:hover .config {
    opacity: 1;
  }

  .buzz h2 {
    opacity: 0;
  }

  .buzz {
    font-size: 40px;
    text-align: center;
  }

  .buzz h3 {
    padding-bottom: 50px;
  }

  .buzz img {
    position: relative;
    left: -680px;
    width: 800px;
    z-index: 3;
  }

  .buzz p {
    text-align: left;
    max-width: 750px;
    font-size: 30px;
    position: relative;
    left: 53%;
    top: -500px;
    z-index: 2;
  }

  .buzz button {
    position: relative;
    left: 43%;
    top: -35px;
    background-color: #817d16;
    padding: 25px;
    border-radius: 30px;
    cursor: pointer;
  }

  .buzz img:hover {
    transform: scale(2.05);
    transition: transform 0.5s;
  }

  .buzz a {
    position: relative;
    top: -400px;
    font-size: 20px;
  }

  .amarok h2 {
    opacity: 0;
  }

  .amarok {
    position: relative;
    top: -250px;
    text-align: center;
    font-size: 40px;
  }

  .amarok h3 {
    padding-bottom: 50px;
  }

  .amarok img {
    position: relative;
    right: -300px;
    z-index: 3;
  }

  .amarok p {
    text-align: left;
    max-width: 750px;
    font-size: 30px;
    position: relative;
    left: 2%;
    top: -350px;
    z-index: 2;
  }

  .amarok button {
    position: relative;
    top: -150px;
    left: -80px;
    background-color: #333;
    padding: 25px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
  }

  .amarok img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  .amarok a {
    position: relative;
    left: -560px;
    top: -180px;
  }

  .tcross {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -130px;
  }

  .tcross h2 {
    opacity: 0;
  }

  .tcross img {
    width: 60%;
  }

  .tcross p {
    font-size: 30px;
    width: 800px;
    position: relative;
    left: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .tcross a {
    font-size: 20px;
  }

  .search-bar {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }

  .search-container h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }

  .search-container {
    margin-top: 10px;
  }

  #search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .foot {
    padding-top: 15vh;
    background-color: #294666;
    text-align: center;
    color: white;
  }
}
